<?xml version="1.0"?>
<config>
    <modules>
        <Devils_AjaxFilters>
            <version>0.1.1</version>
        </Devils_AjaxFilters>
    </modules>
    <global>
        <models>
            <devils_ajaxfilters>
                <class>Devils_AjaxFilters_Model</class>
            </devils_ajaxfilters>
        </models>
        <blocks>
            <devils_ajaxfilters>
                <class>Devils_AjaxFilters_Block</class>
            </devils_ajaxfilters>
            <catalog>
                <rewrite>
                    <layer_state>Devils_AjaxFilters_Block_Layer_State</layer_state>
                    <layer_filter_attribute>Devils_AjaxFilters_Block_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_category>Devils_AjaxFilters_Block_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_decimal>Devils_AjaxFilters_Block_Layer_Filter_Decimal</layer_filter_decimal>
                    <layer_filter_price>Devils_AjaxFilters_Block_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <devils_ajaxfilters>
                    <file>devils/ajaxfilters.xml</file>
                </devils_ajaxfilters>
            </updates>
        </layout>
    </frontend>
</config>
